body{
  background-color: gray;
}

div {
  margin: 5em;
}

h1 a{
  margin:0 0 0 0;
  padding:0 0 0 0;
  text-decoration: none;
  color: black;
}

h1 a:hover{
  margin:0 0 0 0;
  padding:0 0 0 0;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 2px black;
}

#container{
  margin: 10px;
  padding: 0 0 0 0;
}

#game-container{
  width: 1200px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#controls{
  width: 1200px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
}

#generation-container{
  width: 300px;
  position: relative;
  float: left;
  margin: 0 0 0 0;
  padding: 10px 0;
  display: inline;
}

#pattern-list{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  width: 821px;
  float: left;
}

ul{
  width: 821px;
  margin: auto;
  padding: 0 0 0 0;
  float: left;
  list-style: none;
  display: inline;
}

ul li {
  float: right;
}

ul li a:hover{
  background-color: black;
  color: white;
}

ul li h4{
  margin:0 0 0 0;
  padding:0 0 0 0;
}

a {
  display: block;
  padding: 10px 25px;
}

h4 {
  margin: 0 0 0 0;
  text-align:left;
  padding: 0 10px;
}

table {
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: white;
}

.active{
  background-color: blue;
}